@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table border="1">
    <tr>
        @foreach (var item in @ViewBag.Columns)
        {
            <th>@item</th>

        }
    </tr>
    @foreach (var item in @ViewBag.Documents)
    {
        <tr>
            @foreach (var column in @ViewBag.Columns)
            {
                <td>@item[@column]</td>
            }
        </tr>
    }

</table> 

<p>Use this area to provide additional information.</p>
